<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>voiture</servlet-name>
        <servlet-class>com.blc.training.web.VoitureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>voiture</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>